#add{
      display: none;
}
.box {
      width: 50%;
}

.box input[type=text] {
      width: 50%;
      margin-bottom: 3%;
}
.box input[type=text]:focus {
      width: 60%;
      background-color: rgb(129, 219, 132);
}
.button {
      background-color: #4CAF50;
      border: none;
      border-radius: 4%;
      color: white;
      height: 45px;
      text-align: center;
      font-size: 16px;
      margin-top: 5%;
      width:40%;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s;
}

.button:hover {
      background-color:whitesmoke;
      color : #4CAF50;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pp {
      margin-top:10%;
      color: blue;
      text-decoration-line: underline;
}
.h55{
      font-style: italic;
      color:#4CAF50;
      margin-top:4%;
}

textarea {
      width: 70%;
      height: 150px;
      padding: 10px;
      display: block;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4%;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: none;
}

.ShowHobbies span {
      cursor: pointer;
      text-align: center;
      margin-left: 12%;
}
.ol-sm-9, .col-lg-10{
       margin-bottom: 32%;
}